.pagination
    ul.pagination-list
        li.pagination__item 
            a(href="#").pagination__link &#60; Назад
        li.pagination__item 
            a(href="#").pagination__link  1
        li.pagination__item
            a(href="#").pagination__link.pagination__link--active 2
        li.pagination__item 
            a(href="#").pagination__link  3
        li.pagination__item 
            a(href="#").pagination__link  ...
        li.pagination__item 
            a(href="#").pagination__link  28
        li.pagination__item 
            a(href="#").pagination__link  Далее &#62;
    .numbers-block Выводить по:
        ul.numbers-list
            li.numbers__item
                a(href="#").numbers__link--active 20
            li.numbers__item 
                a(href="#").numbers__link 40
            li.numbers__item 
                a(href="#").numbers__link 60
            li.numbers__item 
                a(href="#").numbers__link 80