.table-block
    .table-block__number 1
    .table-block__company
        a(href="#").company__name ИП Виноградова Людмила
        .company__info Город, род деятельности компании
    .table-block__passport
        ul.stars-list
            li.star__item
                img(src="img/star-green.png")
            li.star__item
                img(src="img/star-green.png")
            li.star__item
                img(src="img/star-green.png")
            li.star__item
                img(src="img/star-green.png")
            li.star__item
                img(src="img/star-grey.png")
            li.star__item
                img(src="img/orange-circle.png")
            li.star__item
                img(src="img/orange-circle.png")
    .table-block__recommendations 944/10
    .table-block__claims -