.notifications-menu{

    &__inputSearch-wrap{
        display: none;
        transition: all 0.3s ease;
    }

    &__inputSearch-wrapActive{
        display: flex;
        width: 75.2rem;
        height: 5.15rem;
        position: absolute;
        // left: 11.3rem;
        right: 44.2rem;
        top: 0rem;
        z-index: 2;
        transition: all 0.3s ease;
    }

    &__input{
        width: 100%;
        height: 100%;
        border: 0.22rem solid #292929;
        padding-left: 4.88rem;
        padding-right: 4.88rem;
        background: #f5f6f8;
    }

    &__svgSearch{
        position: absolute;
        width: 1.55rem;
        height: 1.66rem;
        fill: #767676;
        left: 2rem;
        top: 1.75rem;

    }

    
    &__closeButton{
        cursor: pointer;
        position: absolute;
        width: 1.55rem;
        height: 1.66rem;
        right: 2rem;
        top: 1.75rem;
    }

    &__svgClose{
        width: 1.55rem;
        height: 1.66rem;
        fill: #767676;

    }

}
