.notifications-menu__inputSearch-wrap
    input(class="notifications-menu__input" type="text" placeholder="Введите текст")
    <svg class="inputSVG" width="50ox" height="50px" style="fill: red;"><use id="searchSVGicon" xlink:href="img/search.svg"></use></svg>

    //- <svg width=«Npx» height=«Npx»> 
    //-         <use xlink:href=«path_to_.svg#idSvg»></use>
    //-     </svg>