.news-column
    h3.news-column__title Новости компании
    ul.news-list
        li.news-block
            .news-block__data 11 ноября 2018
            a(href="#").news-block__title В Сенате США потребовали от Трампа прекратить критику ФРС
        li.news-block
            .news-block__data 11 ноября 2018
            a(href="#").news-block__title В Сенате США потребовали от Трампа прекратить критику ФРС
        li.news-block
            .news-block__data 11 ноября 2018
            a(href="#").news-block__title В Сенате США потребовали от Трампа прекратить критику ФРС
        include news-block.pug
        include news-block.pug
    button.news-column__btn Показать все
