.news-column{
    // display: flex;
    // width: 41.11rem;
    // flex-direction: column;
    // padding-left: 3.33rem;
    // padding-right: 3.33rem;
    // padding-top: 3.11rem;
    // border: 0.1rem solid #f0efef;
    // margin: 0rem 1.66rem;

    &-wrap{
        display: flex;
        width: 41.11rem;
        flex-direction: column;
        padding-left: 3.33rem;
        padding-right: 3.33rem;
        padding-top: 3.11rem;
        border: 0.1rem solid #f0efef;
        margin: 0rem 1.66rem;

    }

    &__title{
        font-family: "Source Sans Pro";
        font-size: 2.33rem;
        font-weight: 300;
        color: #212121;
        padding-bottom: 1.67rem;
        position: relative;

        // &::after{
        //     content: "";
        //     position: absolute;
        //     background: url('../img/dot.png');
        //     width: 100%;
        //     height: 100%;
        //     background-position: center;
        //     background-size: contain;
        //     background-repeat: no-repeat;
        // }

    }

    &__btn-wrap{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 2.55rem;
        padding-bottom: 2.55rem;
    }

    
    &__btn {
        padding: 1.77rem 2.55rem;
        font-family: "Source Sans Pro";
        font-size: 1.44rem;
        font-weight: 400;
        color: #fff;
        border: none;
        outline: none;
        background-color: #a1ce31;
        transition: all 0.3s ease;
        cursor: pointer;
        margin: 0;

        &:hover {
            background-color: #ff7c07;
        }
    }

}



