.news-block {
    padding-bottom: 2rem;
    border-bottom: 0.11rem solid #f0efef;


    &__data {
        font-family: "Source Sans Pro";
        font-size: 1.44rem;
        font-weight: 400;
        color: #999;
        padding-bottom: 1.55rem;
        padding-top: 2.33rem;
    }

    &__title {
        text-decoration: none;
        font-family: "Source Sans Pro";
        font-size: 1.66rem;
        font-weight: 400;
        color: #212121;
        transition: all 0.3s ease;
        line-height: 1.2;
        margin-bottom: 2rem;

        &:hover {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            transition: all 0.3s ease;
        }
    }
}