.news-form-column {
    flex-basis: 100%;
    width: 40.44rem;
    border: 0.1rem solid #f0efef;

    @media screen and (min-width: 750px) {
        // flex-basis: 100%;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 41.11rem;
        // max-width: 41.11rem;
    }

    &__title {
        padding: 3.11rem 0 3.11rem 3.11rem;
        font-family: "Source Sans Pro";
        font-size: 2.33rem;
        font-weight: 300;
        color: #fff;
        background-color: #292929;
    }
    
    .form-block {
        padding: 3.44rem 3.33rem 3rem 3.33rem;
        display: flex;
        flex-direction: column;

        &-top-wrap {

            @media screen and (min-width: 750px) {
                display: flex;
            }

            @media screen and (min-width: 1200px) {
                flex-direction: column;
            }
        }

        &-input-wrap {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.55rem;
            border: none;
            background-color: #f5f6f8;
        }

        label {
            margin-bottom: 1.66rem;
            font-family: "Source Sans Pro";
            font-size: 1.66rem;
            font-weight: 400;
            line-height: 2rem;
            color: #212121;
        }

        input {
            height: 4.44rem;
            margin-bottom: 2.44rem;

            @media screen and (min-width: 750px) {
                width: 98%;

                &:nth-child(2) {
                    margin-left: auto;
                }
            }

            @media screen and (min-width: 1200px) {
                width: 100%;
            }
        }

        textarea {
            min-height: 12.22rem;
        }

        &__btn-warning-wrap {

            @media screen and (min-width: 750px) {
                display: flex;
                align-items: center;
                margin-top: 2.11rem;
            }

            @media screen and (min-width: 1200px) {
                flex-direction: column;
            }
        }
        
        &__btn-wrap {

            @media screen and (min-width: 1200px) {
                padding: 0 16.88rem 0 0;
            }

            .form-block__btn {
                display: inline-block;
                width: 50%;
                margin: 2.11rem 0 4.88rem 0;
                padding: 2.22rem 4.44rem;
                // padding: 2rem 1.66rem 3.55rem 1.66rem;
                font-family: "Source Sans Pro";
                font-size: 1.66rem;
                font-weight: 400;
                color: #fff;
                text-transform: uppercase;
                border: none;
                outline: none;
                background: #ff8c25;
                transition: all 0.3s ease-out;
                cursor: pointer;
    
                &:hover {
                    background: #a1ce31;
                }

                @media screen and (min-width: 750px) {
                    width: auto;
                    margin: 0 3.88rem 0 0;
                    // padding: 2rem 3.66rem 3.55rem 3.66rem;
                }

                @media screen and (min-width: 1200px) {
                    margin: 0 0 4.88rem 0;
                }
            }
        }

        &__warning {
            margin: 0;
            font-family: "Source Sans Pro";
            font-size: 1.44rem;
            font-weight: 300;
            line-height: 2rem;
            color: #212121;
        }
    }
}