.news-form-column{
    // display: flex;
    // width: 41.11rem;
    // flex-direction: column;
    // border: 0.1rem solid #f0efef;
    // margin: 0rem 1.66rem;

    &-wrap{
        display: flex;
        width: 41.11rem;
        flex-direction: column;
        border: 0.1rem solid #f0efef;
        margin: 0rem 1.66rem;

    }

    &__title{
        font-family: "Source Sans Pro";
        font-size: 2.33rem;
        font-weight: 300;
        color: #fff;
        background-color: #292929;
        // padding: 3.11rem 3.33rem;
        padding: 3.11rem;
    }

}

.form-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.55rem 3.33rem 0rem 3.33rem;

    &-input-wrap, &-inputBottom-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;

        .user-name{
            background: #f5f6f8;
            width: 100%;
            height: 5.55rem;
            border: none;
        }

        
        label {
            font-family: "Source Sans Pro";
            font-size: 1.66rem;
            font-weight: 400;
            line-height: 2rem;
            color: #212121;
            padding-top: 2.66rem;
            padding-bottom: 1.66rem;
        }

        textarea{
            width: 100%;
            background: #f5f6f8;
            resize: none;
            border: none;
            height: 13.33rem;
            margin-bottom: 2.11rem;
        }

    }

    &__warning{
        font-family: "Source Sans Pro";
        font-size: 1.44rem;
        font-weight: 300;
        line-height: 1.4rem;
        color: #212121;
        padding-bottom: 3.4rem;
    }

}

.form-block__btn-wrap{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 0.11rem solid #f0efef;
    padding-bottom: 2.33rem;
    margin-bottom: 2.33rem;
}

.form-block__btn {
    // display: flex;
    padding: 2.22rem 4.44rem;
    font-family: "Source Sans Pro";
    font-size: 1.66rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #ff8c25;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 0;
    
    &:hover {
        background: #a1ce31;
    }
}

