.regForm{

    &__wrapStatic{
        width: 41.55rem;
        height: 37.77rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-around;
        background: #fff;
        padding-left: 5.77rem;
        padding-top: 6.44rem;
        margin-left: 2.88rem;
        margin-top: 8rem;

    }

}