section.screenTwo
    .screenTwo__wrap
        .screenTwo__column
            .screenTwo__column-wrap
                .screenTwo__head
                    .screenTwo__head-wrap
                        p.screenTwo__head-title|Последние добавленные товары
                        ul.screenTwo__head-ul
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|сегодня
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|вчера
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|неделя
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|месяц


                    .screenTwo__productCards
                        .screenTwo__productCards-wrap
                            a.screenTwo__productCards-link.screenTwo__productCards-link-font(href="#")|Лапа Horsсh(хорш) бронированная 375 мм
                            p.screenTwo__productCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__productCards-sending
                                .screenTwo__productCards-btn-wrap
                                    button.screenTwo__productCards-btn|откликнуться
                                .screenTwo__productCards-organizationAndDate
                                    a.screenTwo__productCards-organization.screenTwo__productCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__productCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>

                                        p.screenTwo__productCards-date-text|11 ноября 2018


                    .screenTwo__productCards.bgWhite
                        .screenTwo__productCards-wrap
                            a.screenTwo__productCards-link.screenTwo__productCards-link-font(href="#")|Продаём подбарабанье комбайна Доминато...
                            p.screenTwo__productCards-description-text|Продаём подбарабанье комбайна Доминатор Мега 218 № 662902.2 Новое, протзводство Германия CLAAS.
                            .screenTwo__productCards-sending
                                .screenTwo__productCards-btn-wrap
                                    button.screenTwo__productCards-btn|откликнуться
                                .screenTwo__productCards-organizationAndDate
                                    a.screenTwo__productCards-organization.screenTwo__productCards-organization-font(href="#")|ИП Виноградова Людмила
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__productCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__productCards-date-text|11 ноября 2018


                    .screenTwo__productCards
                        .screenTwo__productCards-wrap
                            a.screenTwo__productCards-link.screenTwo__productCards-link-font(href="#")|Лапа Horsсh(хорш) бронированная 375 мм
                            p.screenTwo__productCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__productCards-sending
                                .screenTwo__productCards-btn-wrap
                                    button.screenTwo__productCards-btn|откликнуться
                                .screenTwo__productCards-organizationAndDate
                                    a.screenTwo__productCards-organization.screenTwo__productCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__productCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__productCards-date-text|11 ноября 2018


                    .screenTwo__productCards.bgWhite
                        .screenTwo__productCards-wrap
                            a.screenTwo__productCards-link.screenTwo__productCards-link-font(href="#")|Продаём подбарабанье комбайна Доминато...
                            p.screenTwo__productCards-description-text|Продаём подбарабанье комбайна Доминатор Мега 218 № 662902.2 Новое, протзводство Германия CLAAS.
                            .screenTwo__productCards-sending
                                .screenTwo__productCards-btn-wrap
                                    button.screenTwo__productCards-btn|откликнуться
                                .screenTwo__productCards-organizationAndDate
                                    a.screenTwo__productCards-organization.screenTwo__productCards-organization-font(href="#")|ИП Виноградова Людмила
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__productCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__productCards-date-text|11 ноября 2018


                    .screenTwo__productCards
                        .screenTwo__productCards-wrap
                            a.screenTwo__productCards-link.screenTwo__productCards-link-font(href="#")|Лапа Horsсh(хорш) бронированная 375 мм
                            p.screenTwo__productCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__productCards-sending
                                .screenTwo__productCards-btn-wrap
                                    button.screenTwo__productCards-btn|откликнуться
                                .screenTwo__productCards-organizationAndDate
                                    a.screenTwo__productCards-organization.screenTwo__productCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__productCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__productCards-date-text|11 ноября 2018



        .screenTwo__column
            .screenTwo__column-wrap
                .screenTwo__head
                    .screenTwo__head-wrap
                        p.screenTwo__head-title|Последние добавленные запросы
                        ul.screenTwo__head-ul
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|сегодня
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|вчера
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|неделя
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|месяц

                                    
                    .screenTwo__requestCards
                        .screenTwo__requestCards-wrap
                            a.screenTwo__requestCards-link.screenTwo__requestCards-link-font(href="#")|Купим Скотовоз
                            p.screenTwo__requestCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__requestCards-sending
                                .screenTwo__requestCards-btn-wrap
                                    button.screenTwo__requestCards-btn|откликнуться
                                .screenTwo__requestCards-organizationAndDate
                                    a.screenTwo__requestCards-organization.screenTwo__requestCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__requestCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__requestCards-date-text|11 ноября 2018

                                    
                    .screenTwo__requestCards.bgWhite
                        .screenTwo__requestCards-wrap
                            a.screenTwo__requestCards-link.screenTwo__requestCards-link-font(href="#")|Срочный ВЫКУП СПЕЦТЕХНИКИ и СЕЛЬХОЗ...
                            p.screenTwo__requestCards-description-text|Продаём подбарабанье комбайна Доминатор Мега 218 № 662902.2 Новое, протзводство Германия CLAAS.
                            .screenTwo__requestCards-sending
                                .screenTwo__requestCards-btn-wrap
                                    button.screenTwo__requestCards-btn|откликнуться
                                .screenTwo__requestCards-organizationAndDate
                                    a.screenTwo__requestCards-organization.screenTwo__requestCards-organization-font(href="#")|ИП Виноградова Людмила
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__requestCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__requestCards-date-text|11 ноября 2018

                                    
                    .screenTwo__requestCards
                        .screenTwo__requestCards-wrap
                            a.screenTwo__requestCards-link.screenTwo__requestCards-link-font(href="#")|Лапа Horsсh(хорш) бронированная 375 мм
                            p.screenTwo__requestCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__requestCards-sending
                                .screenTwo__requestCards-btn-wrap
                                    button.screenTwo__requestCards-btn|откликнуться
                                .screenTwo__requestCards-organizationAndDate
                                    a.screenTwo__requestCards-organization.screenTwo__requestCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__requestCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__requestCards-date-text|11 ноября 2018

                                    
                    .screenTwo__requestCards.bgWhite
                        .screenTwo__requestCards-wrap
                            a.screenTwo__requestCards-link.screenTwo__requestCards-link-font(href="#")|Продаём подбарабанье комбайна Доминато...
                            p.screenTwo__requestCards-description-text|Продаём подбарабанье комбайна Доминатор Мега 218 № 662902.2 Новое, протзводство Германия CLAAS.
                            .screenTwo__requestCards-sending
                                .screenTwo__requestCards-btn-wrap
                                    button.screenTwo__requestCards-btn|откликнуться
                                .screenTwo__requestCards-organizationAndDate
                                    a.screenTwo__requestCards-organization.screenTwo__requestCards-organization-font(href="#")|ИП Виноградова Людмила
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__requestCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__requestCards-date-text|11 ноября 2018

                                    
                    .screenTwo__requestCards
                        .screenTwo__requestCards-wrap
                            a.screenTwo__requestCards-link.screenTwo__requestCards-link-font(href="#")|Лапа Horsсh(хорш) бронированная 375 мм
                            p.screenTwo__requestCards-description-text|Лапа стрельчатая, Horsсh, 375 мм Хорш бронированная Лапа стрельчатая 15070-СА-375...
                            .screenTwo__requestCards-sending
                                .screenTwo__requestCards-btn-wrap
                                    button.screenTwo__requestCards-btn|откликнуться
                                .screenTwo__requestCards-organizationAndDate
                                    a.screenTwo__requestCards-organization.screenTwo__requestCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                                    .screenTwo__requestCards-date-wrap
                                        use.screenTwo__svgTime-wrap
                                            <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                                <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                            </svg>
                                        p.screenTwo__requestCards-date-text|11 ноября 2018



        .screenTwo__column
            .screenTwo__column-wrap
                .screenTwo__head
                    .screenTwo__head-wrap
                        p.screenTwo__head-title|Последние добавленные тендеры
                        ul.screenTwo__head-ul
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|сегодня
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|вчера
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|неделя
                            li.screenTwo__head-li
                                a.screenTwo__head-link.screenTwo__head-link-font(href="#")|месяц

                                    
                    .screenTwo__tenderCards
                        .screenTwo__tenderCards-wrap
                            p.screenTwo__tenderCards-numberTender|№ 2323
                            a.screenTwo__tenderCards-link.screenTwo__tenderCards-link-font(href="#")|Наименование тендера
                            .screenTwo__tenderCards-wrap
                                use.screenTwo__svgTime-wrap
                                    <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                        <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                    </svg>

                                p.screenTwo__tenderCards-date-text|Окончание 28 ноября 2018
                            p.screenTwo__tenderCards-priceTender|260 000 рублей
                            .screenTwo__tenderCards-sending
                                .screenTwo__tenderCards-btn-wrap
                                    button.screenTwo__tenderCards-btn|откликнуться
                                .screenTwo__tenderCards-organizationAndDate
                                    a.screenTwo__tenderCards-organization.screenTwo__tenderCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>

                                    
                    .screenTwo__tenderCards.bgWhite
                        .screenTwo__tenderCards-wrap
                            p.screenTwo__tenderCards-numberTender|№ 2323
                            a.screenTwo__tenderCards-link.screenTwo__tenderCards-link-font(href="#")|Наименование тендера название тендера
                            .screenTwo__tenderCards-wrap
                                use.screenTwo__svgTime-wrap
                                    <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                        <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                    </svg>

                                p.screenTwo__tenderCards-date-text|Окончание 28 ноября 2018
                            p.screenTwo__tenderCards-priceTender|260 000 рублей
                            .screenTwo__tenderCards-sending
                                .screenTwo__tenderCards-btn-wrap
                                    button.screenTwo__tenderCards-btn|откликнуться
                                .screenTwo__tenderCards-organizationAndDate
                                    a.screenTwo__tenderCards-organization.screenTwo__tenderCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>

                                    
                    .screenTwo__tenderCards
                        .screenTwo__tenderCards-wrap
                            p.screenTwo__tenderCards-numberTender|№ 2323
                            a.screenTwo__tenderCards-link.screenTwo__tenderCards-link-font(href="#")|Наименование тендера
                            .screenTwo__tenderCards-wrap
                                use.screenTwo__svgTime-wrap
                                    <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                        <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                    </svg>

                                p.screenTwo__tenderCards-date-text|Окончание 28 ноября 2018
                            p.screenTwo__tenderCards-priceTender|260 000 рублей
                            .screenTwo__tenderCards-sending
                                .screenTwo__tenderCards-btn-wrap
                                    button.screenTwo__tenderCards-btn|откликнуться
                                .screenTwo__tenderCards-organizationAndDate
                                    a.screenTwo__tenderCards-organization.screenTwo__tenderCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                            

                                    
                    .screenTwo__tenderCards.bgWhite
                        .screenTwo__tenderCards-wrap
                            p.screenTwo__tenderCards-numberTender|№ 2323
                            a.screenTwo__tenderCards-link.screenTwo__tenderCards-link-font(href="#")|Наименование тендера
                            .screenTwo__tenderCards-wrap
                                use.screenTwo__svgTime-wrap
                                    <svg class="screenTwo__svgTime" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                        <path d="M30,0.061c-16.542,0-30,13.458-30,30s13.458,29.879,30,29.879s30-13.337,30-29.879S46.542,0.061,30,0.061z M32,30.939c0,1.104-0.896,2-2,2H14c-1.104,0-2-0.896-2-2s0.896-2,2-2h14v-22c0-1.104,0.896-2,2-2s2,0.896,2,2V30.939z"/>
                                    </svg>

                                p.screenTwo__tenderCards-date-text|Окончание 28 ноября 2018
                            p.screenTwo__tenderCards-priceTender|260 000 рублей
                            .screenTwo__tenderCards-sending
                                .screenTwo__tenderCards-btn-wrap
                                    button.screenTwo__tenderCards-btn|откликнуться
                                .screenTwo__tenderCards-organizationAndDate
                                    a.screenTwo__tenderCards-organization.screenTwo__tenderCards-organization-font(href="#")|ООО НПП Валок
                                        use.screenTwo__svgUser-wrap
                                            <svg class="screenTwo__svgUser" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 350 350" style="enable-background:new 0 0 350 350;" xml:space="preserve">
                                                <path d="M175,171.173c38.914,0,70.463-38.318,70.463-85.586C245.463,38.318,235.105,0,175,0s-70.465,38.318-70.465,85.587C104.535,132.855,136.084,171.173,175,171.173z"/>
                                                <path d="M41.909,301.853C41.897,298.971,41.885,301.041,41.909,301.853L41.909,301.853z"/>
                                                <path d="M308.085,304.104C308.123,303.315,308.098,298.63,308.085,304.104L308.085,304.104z"/>
                                                <path d="M307.935,298.397c-1.305-82.342-12.059-105.805-94.352-120.657c0,0-11.584,14.761-38.584,14.761s-38.586-14.761-38.586-14.761c-81.395,14.69-92.803,37.805-94.303,117.982c-0.123,6.547-0.18,6.891-0.202,6.131c0.005,1.424,0.011,4.058,0.011,8.651c0,0,19.592,39.496,133.08,39.496c113.486,0,133.08-39.496,133.08-39.496c0-2.951,0.002-5.003,0.005-6.399C308.062,304.575,308.018,303.664,307.935,298.397z"/>
                                            </svg>

                                        //- <i class="fas fa-user mineStyleUserIconScreenTwo"></i>
                            
                                    


