.screenTwo{
    // height: 100vh;

    &__wrap{
        // width: 133.33rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        // margin: 0 auto;
        margin-top: 5.55rem;
    }

    &__column-wrap{
        width: 41.11rem;
        // height: 100vh;
        display: flex;
        flex-direction: column;
        // background: rgb(211, 203, 203);
        background: #f3f6f9;
        margin: 0rem 1.66rem;
        // border: 0.15rem solid #f0efef;

    }

    &__head{
        width: 100%;
    }

    &__head-wrap{
        width: 100%;
        height: 7.77rem;
        display: flex;
        flex-direction: column;
        background: #292929;
        padding-left: 3.33rem;
        padding-top: 2.22rem;
    }

    &__head-ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 0.5rem;
    }

    &__head-link{
        margin-right: 1rem;
        border-bottom: 0.11rem solid #838383;
        transition: all 0.3s ease;

        &:hover{
            border: none;
            transition: all 0.3s ease;
        }

    }

    &__productCards-wrap, &__requestCards-wrap, &__tenderCards-wrap{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-left: 3.08rem;
        padding-right: 3.08rem;
        padding-bottom: 1.66rem;
        border: 0.15rem solid #f0efef;
        border-top: none;
    }

    // &__tenderCards-wrap{

    // }

    &__productCards-link, &__requestCards-link, &__tenderCards-link{
        padding-bottom: 1rem;
    }

    &__productCards-sending, &__requestCards-sending, &__tenderCards-sending{
        padding-top: 1.22rem;
        display: flex;
        flex-direction: row;
        // align-items: flex-end;
    }

    &__productCards-btn-wrap, &__requestCards-btn-wrap, &__tenderCards-btn-wrap{
        margin-right: 1.77rem;
    }

    &__productCards-organizationAndDate, &__requestCards-organizationAndDate, &__tenderCards-organizationAndDate{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__productCards-organization, &__requestCards-organization, &__tenderCards-organization{
        display: flex;
        flex-direction: row-reverse;

    }

    &__productCards-date-wrap, &__requestCards-date-wrap, &__tenderCardsSvg-wrap{
        display: flex;
        flex-direction: row;
        // align-items: center;
    }

    &__tenderCardsSvg-wrap{
        align-items: flex-end;
    }

    &__svgUser{
        // width: 1.1rem;
        height: 1.44rem;
        padding-right: 1rem;
        fill: #7b7c7c;
    }

    &__svgTime{
        height: 1.44rem;
        fill: #7b7c7c;
        padding: 0rem 1rem 0rem 0rem;
        margin: 0;
    }

    &__svgTime-wrap{
        margin: 0;
    }

}

.bgWhite{
    background: #fff;
}