@media screen and (max-width: 980px) {

    .screenTwo{
        width: 100%;
        margin: 0 auto;

        &__wrap{
            width: 100%;
        }

        &__column{
            width: 50%;
            // margin: 1.11rem;
            padding: 1.11rem;
        }

        &__column-wrap {
            width: 100%;
            margin: 0 auto;
        }

        &__tenderCards-wrap{
            flex-direction: row;
            justify-content: space-between;
        }

        &__tenderCards-sending{
            flex-direction: column;
            margin-right: 1.77rem;
            justify-content: space-around;
            align-items: flex-start;
        }

        &__tenderCards-btn-wrap{
            margin-right: 0;
        }

    }

    .child-3{
        width: 100%;
    }
}