// SCREEN__ONE
.screenOne{

    &__btn-wrap{
        display: flex;
    }

    &__btn{
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: #ff8c25;
    padding: 1.7rem 4.22rem ;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background: #a1ce31;
        transition: all 0.3 ease;
    }

    }

}

.screenOne__categories-btn{
    padding: 2.22rem 8.22rem;
    border: none;
    background: #a1ce31;
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover{
        background: #ff7c07;
        transition: all 0.3s ease;
    }

}


// SCREEN__TWO
.screenTwo{

    &__productCards-btn, &__requestCards-btn, &__tenderCards-btn{
        margin: 0;
        padding: 0;
        border: none;
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: capitalize;
        color: #fff;
        background: #a1ce31;
        padding: 1.55rem 2.22rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover{
            background: #ff8c25;
            transition: all 0.3s ease;
        }
    }

}




// SCREEN__TREE
.screenThree__form-btn{
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    // background: #ff7c07;
    background: #ff8c25;
    padding: 1.7rem 4.22rem ;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background: #a1ce31;
        transition: all 0.3 ease;
    }
}





// LOGIN__PAGE
.checkin{

    &__btn-wrap{
        margin-top: 2.66rem;
        padding-bottom: 2.66rem;
    }

    &__btn{
        padding: 1.44rem 2.22rem;
        background: #a1ce31;
        text-transform: uppercase;
        border: none;
        color: #fff;
        font-size: 1.66rem;
        font-family: 'Source Sans Pro', sans-serif;
        transition: all 0.3s ease;
    
        &:hover{
            background: #ff8c25;
            transition: all 0.3 ease;
        }
    }

}