// SCREEN__ONE__BTN
.screenOne{

    &__btn-wrap{
        display: flex;
    }

    &__btn{
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: #ff7c07;
    padding: 1.7rem 4.22rem ;
    border: none;
    }
}