// HEADER FONTS

.header__logo-text{
    font-size: 2.88rem;
    font-family: 'Bernard MT Condensed';
    font-weight: bolder;
    color: #575455;
    // margin-left: 2rem;
}

.header__logo-subtitle-text{
    font-size: 1.33rem;
    font-family: 'FiraSans-Book';
    color: #575455;
    text-transform: uppercase;
    letter-spacing: -0.07rem;
    text-align: center;
    font-weight: bold;
}

.header__nav-fonts{
    font-size: 1.67rem;
    font-family: 'SourceSansPro-Regular';
    color: rgb(33, 33, 33);
}

.header__nav-submenu-fonts{
    font-size: 1.44rem;
    color: rgb(118, 118, 118);
    padding-left: 2.11rem;
    transition: all 0.3s ease;

    &:hover{
        color: rgb(161, 206, 49);
        transition: all 0.3s ease;
    }

}

// SCREEN_ONE FONTS
// TITLE
.screenOne{

    &__title-text{
        font-size: 4rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Light';
        color: #fff;
        text-align: center;
        // font-weight: 300;
    }

    &__subtitle-text{
        font-size: 5.78rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Light';
        color: #fff;
        text-align: center;
        // font-weight: 300;
    }

}


// SCREEN_ONE FONTS
// TABS__FONTS
.tabsLabelFonts{
    font-size: 1.56rem;
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'SourceSansPro-Regular';
    text-transform: uppercase;
    // font-weight: 600;
}


// SCREEN_ONE FONTS
// CATEGORIES__FONTS
.screenOne__categories-title-text{
    font-size: 1.67rem;
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'SourceSansPro-Regular';
    color: #575455;
}


// SCREEN_TWO FONTS
// HEAD__FONTS
.screenTwo{

    &__head-title{
        font-size: 2.33rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Light';
        color: #fff;
        // font-weight: 300;
    }

    &__head-link-font{
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: #838383;
        transition: all 0.3s ease;

        &:hover{
            color: #a1ce31;
            transition: all 0.3s ease;
        }

    }

}


// SCREEN_TWO FONTS
.screenTwo{

    &__productCards-link-font, &__requestCards-link-font, &__tenderCards-link-font{
        text-decoration: underline;
        // border-bottom: 0.05rem solid rgb(33, 33, 33);
        font-size: 1.66rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: rgb(33, 33, 33);
        transition: all 0.3 ease;

        &:hover{
            text-decoration: none;
            transition: all 0.3 ease;
        }

    }

    &__productCards-description-text, &__requestCards-description-text, &__tenderCards-description-text{
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: rgb(33, 33, 33);
        line-height: 1.385;
    }

    &__productCards-organization-font, &__requestCards-organization-font, &__tenderCards-organization-font{
        text-decoration: underline;
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: #317fce;
        transition: all 0.3 ease;

        &:hover{
            text-decoration: none;
            transition: all 0.3 ease;
        }

    }

    &__productCards-date-text, &__requestCards-date-text, &__tenderCards-date-text{
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: #999999;
        // text-align: left;
        // position: relative;
        // padding-left: 2.5rem;

        // &::before{
        //     content: "";
        //     position: absolute;
        //     background: url('../img/time.png');
        //     background-position: center;
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     width: 1.44rem;
        //     height: 1.44rem;
        //     left: 0rem;
        // }

    }

    &__tenderCards-date-text{
        padding-top: 0.6rem;
    }

    &__tenderCards-numberTender{
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: #999999;
        padding-bottom: 0.77rem;
    }

    &__tenderCards-priceTender{
        font-size: 1.44rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Regular';
        color: #999999;
        text-align: left;
        position: relative;
        padding-left: 2.5rem;
        padding-top: 2rem;
        // padding-bottom: 0.44rem;
        padding-bottom: 0.49rem;

        &::before{
            content: "\20BD";
            position: absolute;
            font-size: 1.8rem;
            left: 0.3rem;
            top: 1.66rem;
        }

    }

}


// SCREEN__THREE_FONTS

.screenThree{

    &__head-text{
        font-size: 2.33rem;
        // font-family: 'Source Sans Pro', sans-serif;
        font-family: 'SourceSansPro-Light';
        color: #fff;
        // font-weight: 300;
    }

    &__form-agreement-text{
        font-size: 1.44rem;
        font-family: 'SourceSansPro-Regular';
        color: #585858;
        line-height: 1.3;
        width: 71.11rem;
        margin-left: 3.33rem;
    }

    &__title-fonts{
        padding-bottom: 1.77rem;
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        color: rgb(33, 33, 33);
    }

}


// FOOTER__FONTS
.footer{

    &__nav-title{
        font-size: 2.33rem;
        font-family: 'SourceSansPro-Light';
        // font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        // font-weight: 300;
        line-height: 1.2;
        padding-bottom: 2.77rem;
    }

    &__nav-link-font{
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        color: #bfbfbf;
        line-height: 2.6;

        &:hover{
            color: #fff;
        }

    }

    &__info-text{
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        color: #bfbfbf;
        padding-bottom: 0.88rem;
    }

    &__info-text-link{
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        // font-family: 'Source Sans Pro', sans-serif;
        color: #a1ce31;
        text-decoration: underline;
        padding-left: 0.4rem;
        // line-height: 2;
        transition: all 0.3s ease;

        &:hover{
            text-decoration: none;
            transition: all 0.3s ease;
        }

    }

    &__social-link-text{
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        // font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }

}





// LOGIN__PAGE

.checkin{

    &__title-text{
        font-size: 2.66rem;
        font-family: 'SourceSansPro-Regular';
        color: #fff;
        line-height: 1.2;
    }

    &__subtitle-text{
        font-size: 1.66rem;
        font-family: 'SourceSansPro-Regular';
        color: #fff;
        opacity: 0.8;
        line-height: 1.2;
        padding-top: 1rem;
    }

}