// HEADER FONTS
.header__nav-fonts{
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(33, 33, 33);
}

.header__nav-submenu-fonts{
    font-size: 1.44rem;
    color: rgb(118, 118, 118);
    padding-left: 2.11rem;
    transition: all 0.3s ease;

    &:hover{
        color: rgb(161, 206, 49);
        transition: all 0.3s ease;
    }

}

// SCREEN_ONE FONTS
// TITLE
.screenOne{

    &__title-text{
        font-size: 4rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }

    &__subtitle-text{
        font-size: 5.78rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }

}


// SCREEN_ONE FONTS
// TABS__FONTS
.tabsLabelFonts{
    font-size: 1.56rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}


// SCREEN_ONE FONTS
// CATEGORIES__FONTS
.screenOne__categories-title-text{
    font-size: 1.67rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #575455;
}


// SCREEN_TWO FONTS
// HEAD__FONTS
.screenTwo{

    &__head-title{
        font-size: 2.33rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        font-weight: 300;
    }

    &__head-link-font{
    font-size: 1.44rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #838383;
    transition: all 0.3s ease;

        &:hover{
            color: #a1ce31;
            transition: all 0.3s ease;
        }

    }

}


// SCREEN_TWO FONTS
.screenTwo{

    &__productCards-link-font, &__requestCards-link-font, &__tenderCards-link-font{
        text-decoration: underline;
        // border-bottom: 0.05rem solid rgb(33, 33, 33);
        font-size: 1.66rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: rgb(33, 33, 33);
    }

    &__productCards-description-text, &__requestCards-description-text, &__tenderCards-description-text{
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: rgb(33, 33, 33);
        line-height: 1.385;
    }

    &__productCards-organization-font, &__requestCards-organization-font, &__tenderCards-organization-font{
        text-decoration: underline;
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #317fce;
    }

    &__productCards-date-text, &__requestCards-date-text, &__tenderCards-date-text{
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #999999;
        text-align: left;
        position: relative;
        padding-left: 2.5rem;

        &::before{
            content: "";
            position: absolute;
            background: url('../img/time.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 1.44rem;
            height: 1.44rem;
            left: 0rem;
        }

    }

    &__tenderCards-date-text{
        padding-top: 0.6rem;
    }

    &__tenderCards-numberTender{
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #999999;
        padding-bottom: 0.77rem;
    }

    &__tenderCards-priceTender{
        font-size: 1.44rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #999999;
        text-align: left;
        position: relative;
        padding-left: 2.5rem;
        padding-top: 2rem;
        // padding-bottom: 0.44rem;
        padding-bottom: 0.49rem;

        &::before{
            content: "\20BD";
            position: absolute;
            font-size: 1.8rem;
            left: 0.3rem;
            top: 1.66rem;
        }

    }

}


// SCREEN__THREE_FONTS

.screenThree{

    &__head-text{
        font-size: 2.33rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        font-weight: 300;
    }

}


// ICONS FONT AWESOME STYLE
.mineStyleUserIcon{
    color: #767777;
    font-size: 1.56rem;
}

.mineStyleArrowDownIconRegistration{
    color: #767777;
    font-size: 1rem;
    // font-size: 0.78rem;
    padding-left: 0.9rem;
}

.mineStyleArrowDownIconNav{
    color: #818282;
    font-size: 1rem;
    // font-size: 0.78rem;
    padding-left: 0.5rem;
}

.mineStyleUserIconScreenTwo{
    padding-right: 1rem;
    color: #7b7c7c;
    font-size: 1.56rem;
}

