html{
    font-size: 9px;
}


@media (min-width: 5120px) {

    html{
        font-size: 36px;
    }

}

@media screen and (min-width: 3840px) and (max-width: 5119.8px) {

    html{
        font-size: 24px;
    }

}

@media screen and (min-width: 2560px) and (max-width: 3839.8px) {
    html{
        font-size: 8.9px;
    }
}

@media screen and (max-width: 1020px) {

    html{
        font-size: 6.75px;
    }

}

.body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    max-width: 100%;
    min-width: 320px;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

a, ul, li{
    text-decoration: none;
    list-style: none;
}

a, button, input{
    outline: none;
}