html{
    font-size: 10px;
}

// @media (min-width: 2600px) {
//     html{
//         font-size: 20px;
//     }
// }

// @media (min-width: 2400px) {
//     html{
//         font-size: 20px;
//     }
// }

@media (min-width: 2400px) {
    html{
        // font-size: 15px;
        // font-size: 18px;
        font-size: 13px;
    }
}


@media (max-width: 1600px) {
    html{
        font-size: 9px;
    }
}

@media (max-width: 1240px) {
    html{
        font-size: 8px;
    }
}

@media (max-width: 1020px) {
    html{
        font-size: 7px;
    }
}

.body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    // max-width: 192rem;
    max-width: 100%;
    // max-width: 213rem;
    // max-width: 1920px;
    // min-width: 32rem;
    // min-width: 16rem;
    // min-width: 35.56rem;
    min-width: 320px;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

a, ul, li{
    text-decoration: none;
    list-style: none;
}