@media screen and (max-width: 980px){

    .header{

        &__logo-subtitle-text{
            // letter-spacing: -0.17rem;
            font-weight: normal;
        }

        &__nav-fonts{
            font-size: 2rem;
            color: #fff;
        }

        &__nav-submenu-fonts{
            font-size: 1.77rem;
            color: #fff;

            &:hover{
                color: #fff;
            }

        }

    }

    .footer{
        &__nav-title{
            padding-top: 4rem;
            padding-bottom: 0.5rem;
        }
    }
}

// @media screen and (min-width: 568px) and (max-width: 568px) {

//     // .header__logo-subtitle-text{
//     //     font-size: 1.11rem;
//     // }

// }

// @media screenand and (min-width: 413x) and (max-width: 414px) {

//     .header__logo-subtitle-text{
//         letter-spacing: -0.21rem;
//     }

// }

@media screen and (max-width: 568px) {

    .screenOne{

        &__title-text{
            font-size: 3rem;
        }

        &__subtitle-text{
            font-size: 3.78rem;
            font-weight: bold;
        }

    }

}

// @media screen and (max-width: 320px) {

//     .header__logo-subtitle-text{
//         letter-spacing: -0.21rem;
//     }

// }