@media screen and (max-width: 980px){
    .footer{
        &__nav-title{
            padding-top: 4rem;
            padding-bottom: 0.5rem;
        }
    }
}

@media screen and (max-width: 320px) {

    .header__logo-subtitle-text{
        font-size: 1.1rem;
    }

}