.problem{

    &__center-wrap{
        display: flex;
        background-image: url('../img/bg404.png');
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__center{
        width: 130rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__description-wrap{
        display: flex;
        flex-direction: column;
        width: 44.55rem;
        margin-left: 11.11rem;
        margin-right: 16.66rem;
    }

    &__description{
        display: flex;
        flex-direction: column;
        margin-top: 14.5rem;
    }

    // &__chelick{

    // }

    &__chelick-wrap{
        width: 31.66rem;
        // height: 46.11rem;
        height: 45.8rem;
        display: flex;
        background: url('../img/chelick.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // padding-top: 9.22rem;
        margin-top: 9rem;
        margin-bottom: 7rem;
    }

}


@import './404fonts.scss';