section.problem__center-wrap
    .problem__center
        .problem__description-wrap
            .problem__description
                p.problem__description-404-text|404
                p.problem__description-title-text|Похоже что-то пошло не так ...
                p.problem__description-subtitle-text|К сожалению мы не можем найти страницу, которую Вы ищите Обновите страницу или попробуйте позже
            .problem__description-btn-wrap
                button.problem__description-btn|< Вернуться на главную
        .problem__chelick-wrap
            .problem__chelick