@media screen and (max-width: 980px) {

    .screenOne{

        &__btn{
            padding: 1.7rem 6.22rem ;
        }

        &__categories-btn{
            margin-top: 2.66rem;
        }

    }
    
}

@media screen and (max-width: 550px) {

    .screenOne{

        &__btn-wrap{
            margin-right: 0rem;
        }

        &__btn{
            margin-top: 6rem;
            width: 100%;
        }

        &__categories-btn{
            width: 66.46%;
        }

    }

}



// @media screen and (max-width: 375px) {

//     .screenOne{

//         &__btn{
//             margin-top: 6rem;
//             width: 100%;
//             // width: 315px;
//             // width: 35rem;
//             // width: 46.66rem;
//         }

//     }
// }

@media screen and (max-width: 980px) {

    .screenThree__form-btn{
        width: 100%;
        padding: 1.75rem 0rem;
    }

}