@media screen and (max-width: 980px) {

    .footer{
            
        // width: 100%;
        // // height: 52rem;

        &__wrap{
            background: #292929;
        }

        &__nav{
            padding-top: 7.77rem;
            padding-bottom: 10.66rem;
            padding-left: 1rem;
            // margin-right: 8.33rem;

            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__navAdaptive{
            width: 30%;
            // display: flex;
            flex-direction: column;
            margin-right: 8.33rem;
            // flex-wrap: wrap;
            // justify-content: center;
        }

            
        &__nav-column{
            // width: 23.33rem;
            margin: 0rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
        }

            
        &__nav-li{
            border-bottom: 0.1rem solid #3f3f3f;

            &:last-child{
                border-bottom: none;
            }
        }

        // &__bottom{
        //     background: #222222;
        //     padding-top: 4.88rem;
        //     padding-bottom: 3.11rem;
        //     display: flex;
        //     justify-content: center;
        // }

        // &__bottom-wrap{
        //     width: 130rem;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
            
        //     padding: 0rem 1.66rem;
        // }

    }
    
}