@media screen and (max-width: 980px) {

    .footer{
        &__wrap{
            background: #292929;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        &__nav{
            padding-top: 3.77rem;
            padding-bottom: 7.22rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__navAdaptive{
            flex-direction: column;
            margin-right: 5.22rem;
        }

            
        &__nav-column{
            margin: 0rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
        }

            
        &__nav-li{
            border-bottom: 0.1rem solid #3f3f3f;

            &:last-child{
                border-bottom: none;
            }
        }
    }
    
}

@media screen and (max-width: 600px) {

    .footer{

        &__navAdaptive{
            width: 100%;
            flex-direction: column;
            margin-right: 0rem;
        }

    }

}

@media screen and (max-width: 600px) {

    .footer{

        &__bottom-wrap{
            width: 100%;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
        }

        &__social{
            width: 100%;
            flex-direction: row;
            justify-content: center;
            // padding-right: 13rem;
            padding-top: 1.5rem;
        }

        // &__socialLinkWrap{
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     // width: 40%;
        // }

        // &__social-link-text{
        //     // padding-bottom: 2rem;
        //     // letter-spacing: 0.11rem;
        // }

    }

}

@media screen and (max-width: 375px) {

    .footer{

        &__logo{
            margin-right: 0rem;
        }

        &__about{
            width: 95%;
            justify-content: space-around;
        }

        &__info{
            width: 32rem;
        }

        // &__social{
        //     padding-right: 11rem;
        // }

    }

}


// @media screen and (max-width: 360px) {

//     .footer{

//         &__social{
//             padding-right: 9rem;
//         }

//     }

// }

@media screen and (max-width: 350px) {

    .footer{

        &__social{
            padding-right: 7rem;
        }

    }

}


@media screen and (max-width: 340px) {

    .footer{

        &__social{
            padding-right: 5rem;
        }

    }

}