.footer{
    width: 100%;
    // height: 52rem;

    &__wrap{
        background: #292929;
        padding-bottom: 220px;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__navAdaptive{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__nav-column{
        width: 23.33rem;
        margin: 0rem 1.66rem;
        padding-top: 7.77rem;
        padding-bottom: 10.66rem;
    }

    &__nav-li{
        border-bottom: 0.1rem solid #3f3f3f;

        &:last-child{
            border-bottom: none;
        }
    }

    &__bottom{
        background: #222222;
        padding-top: 4.88rem;
        padding-bottom: 3.11rem;
        display: flex;
        justify-content: center;
    }

    &__bottom-wrap{
        width: 130rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 0rem 1.66rem;
    }

    &__about{
        display: flex;
        flex-direction: row;
    }

    &__logo{
        width: 4.88rem;
        margin-right: 3.33rem;
    }

    &__info-textAndEmail{
        display: flex;
        flex-direction: row;
        
    }

    &__info-littleLine{
        border-bottom: 0.1rem solid #3f3f3f;
        width: 7.22rem;
        padding-top: 0.9rem;
        margin-bottom: 1.77rem;
    }

    &__social{
        display: flex;
        align-items: center;
    }

    // &__social-ul{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: center;
    // }

    // &__social-li{
    //     margin-left: 0.66rem;
    // }

    &__socialLinkWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__social-link{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2rem;
    }

    &__social-svg-style{
        // width: 3.33rem;
        width: 2.33rem;
        // margin-left: 3.11rem;
    }

    &__svgLogo{
        height: 4.77rem;
        transform: translateY(-25%);
    }

}

.footer__social-svg-style{
    fill: #fff;
}

// !!!!!!!!! //
// TO__ADAPT //
// ########  //

@import './footerAdapt.scss';