<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./fonts/fonts.css")
        link(rel="shortcut icon", href="../img/favicon.ico", type="image/x-icon")
        title Viterra Trade
    body.body
        .body__wrap
            include ../blocks/notifications/notifications.pug
            //- include ../blocks/header/headervsregform.pug
            include ../blocks/header/header.pug
            include ../blocks/screenOne/screenOne.pug
            include ../blocks/screenTwo/screenTwo.pug
            include ../blocks/screenThree/screenThree.pug
            include ../blocks/news/news.pug
            include ../blocks/footer/footer.pug
        script(src="./js/notifications/notifications.js")
        script(src="./js/btnForDdm/btnForDdm.js")
        script(src="./js/btnForNotif/btnForNotif.js")