.header{

    &__btnForNotif{
        display: none;
    }

}


@media screen and (max-width: 980px)    {

    .header{

        &__btnForNotif{
            cursor: pointer;
            width: 11.69rem;
            // width: 8.44rem;
            // height: 103%;
            height: 105%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0rem;
        }

        &__btnForNotifActive{
            background: #292929;
            border: 0.2rem solid #484848;
        }

        &__zIndexNotif{
            z-index: -1;
        }

        &__btnForNotif-svgManWrap{
            width: 2.15rem;
        }

        &__btnForNotif-svgMan{
            fill: #818282;
        }
        
        &__btnForNotif-svgManActive{
            fill: #fff;
        }
    
    }

}