header.headerVSRegFormLogPage
    .headerVSRegFormLogPage__wrap
        include ../btnForDdm/btnForDdm.pug
        .headerVSRegFormLogPage__logo
            a.headerVSRegFormLogPage__logo-link(href='index.html')
                .headerVSRegFormLogPage__logo-box
                    p.headerVSRegFormLogPage__logo-text|Viterra Trade
                    use.headerVSRegFormLogPage__svgLogo-wrap
                        <svg class="headerVSRegFormLogPage__svgLogo" id="ic2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.59 55.51">
                            <g id="ic1">
                                <path d="M0,16.33H8.38s12.6,18,16.5,39.29H16.09Zm38-.15H44.7V9l15.15-7.8V16.33H68.1V27.51H59.92V44.08c0,4.13,7.47.75,7.47.75l1.2,10.39a40.9,40.9,0,0,1-13.41,1.36S54,45.19,44.59,27.43v-.11h-.06c-1.85-3.48-4-7.2-6.54-11.14Z" transform="translate(0 -1.18)" style="fill:#aecd44;fill-rule:evenodd"/>
                                <path d="M10,16.33s12.68,18,17,39.29h2.85l12-28.3h1.12a122,122,0,0,0-6.12-11.14H31.27L23,40.63l-7.43-24.3ZM52.47,56.21s-1.54-11-7.88-25.29V41.16c0,3.26-.45,13.27,7.42,15Z" transform="translate(0 -1.18)" style="fill:#575556;fill-rule:evenodd"/>
                            </g>
                        </svg>
                p.headerVSRegFormLogPage__logo-subtitle-text|Объединение надежных партнеров
        nav.headerVSRegFormLogPage__nav
            ul.headerVSRegFormLogPage__nav-ul
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegFormLogPage__nav-fonts(href="#")|Новости
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>
                            
                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegForm__nav-fonts(href="#")|Объявления
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>

                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegFormLogPage__nav-fonts(href="#")|Реестр компаний
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>
                            
                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegFormLogPage__nav-fonts(href="#")|Конкурсы Online
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>
                            
                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegFormLogPage__nav-fonts(href="#")|Трудоустройство
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>

                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                li.headerVSRegFormLogPage__nav-li
                    a.headerVSRegFormLogPage__nav-link.headerVSRegFormLogPage__nav-fonts(href="#")|Проекты
                        use.headerVSRegFormLogPage__svgArrow-wrap
                            <svg class="headerVSRegFormLogPage__svgArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>

                    ul.headerVSRegFormLogPage__nav-submenu-ul
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу работу
                        li.headerVSRegFormLogPage__nav-submenu-li
                            a.headerVSRegFormLogPage__nav-submenu-link.headerVSRegFormLogPage__nav-submenu-fonts(href="#")|Ищу сотрудников
                include forLoginPage.pug
        //- .headerVSRegForm__registrationMenu-wrap
        //- include ../regform/regFormLogPage.pug