@media screen and (max-width: 980px)    {

    .notifications{
        display: none;

        &-Active{
            display: flex;
            position: fixed;
            z-index: 6;
            top: 10.55rem;
            // top: 11.2%;
            right: 0rem;
            width: 60.8%;
            padding-top: 4.3rem;
            padding-bottom: 2.77rem;
            // height: 99.9vh;
            // overflow: overlay;
            height: 100vh;
        }

        .container-fluid{
            width: 100%;
            height: 75%;
            overflow-y: scroll;

            .container{
                width: 100%;
            }

        }


        &-menu-wrap{
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }

        &-menu-list{
            flex-direction: column;
            align-items: flex-start;
        }

        &-menu-list-link{
            padding-left: 0rem;
            justify-content: flex-start;
        }

        &-menu__link, &-menu__alert, &-menu__settings{
            border-right: none;
        }

        &-menu__inputSearch-wrapActive{
            // width: 200%;
            width: 100%;
            right: 0;
            position: fixed;
        }

        &-menu__searchList-wrap{
            // width: 200%;
            width: 100%;
            height: 100vh;
        }

        
        &__svg-wrap{
            margin: 0;
        }

    }

    .notifications-menu{

        &__addNotif-text{
            display: none;
        }

        &__addNotif-textAdapt{
            display: flex;
        }

        &-user-block, &__money{
            order: 0;
        }

        &__addNotif, &-list, &__alert, &__settings, &__logout{
            order: 1;
        }

        &-list{
            width: 100%;
        }

        &__addNotif, &-list-li, &__alert, &__settings, &__logout, &-user-block, &__money{
            padding-left: 4rem;
            width: 100%;
            cursor: pointer;
        }

        &__addNotif, &-list-li, &__alert, &__settings, &__money{
            border-bottom: 0.11rem solid rgba(255, 255, 255, 0.2);
        }

        &__alert, &__settings, &__logout{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__money-text, &__addNotif-textAdapt{
            padding-left: 2.5rem;
        }

        &__addNotif{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &__money{
            background: none;
            
            &:hover{
                background: none;
            }

        }

        &__alert{

            &::before{
                left: 5.4rem;
                top: 1.2rem;
            }

        }

        &__logout{
            padding-top: 1.35rem;
        }

        &__linkAdapt{
            display: flex;
            font-family: 'SourceSansPro-Regular';
            font-size: 1.53rem;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            padding-left: 1rem;
        }
        
    }

}

@media screen and (max-width: 550px) {

    .notifications{

        &-Active{
            top: 10.7rem;
        }

    }

}