// @import './notifAddInput/notifAdd.scss';
// @import './notifSearchList/notifSearchList.scss';
// @import './notifAlertMore/notifAlertMore.scss';

.notifications {
    width: 100%;
    background-color: #292929;
    display: flex;
    justify-content: center;

    &-menu {

        &-wrap { 
            display: flex;
            align-items: center;
            position: relative;
        }

        &__addNotif{
            // padding: 1.59rem 1.55rem;

            // padding: 1.11rem 1.44rem;

            padding: 1.07rem 1.44rem;
            background-color: #a1ce31;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #ff7c07;
                transition: all 0.3s ease;
            }

        }

        // &__inputSearch-wrap{
        //     display: none;
        // }

        // &__inputSearch-wrapActive{
        //     display: flex;
        //     width: 75.2rem;
        //     height: 5.1rem;
        //     background: #ff0707;
        //     position: absolute;
        //     left: 11.2rem;
        //     top: 0rem;
        //     z-index: 1;
        // }

        &__addNotif-text {
            font-family: 'SourceSansPro-Regular';
            font-size: 1.55rem;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
        }

        &__addNotif-textAdapt {
            display: none;
            font-family: 'SourceSansPro-Regular';
            font-size: 1.55rem;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
        }

        &-list{
            display: flex;
            flex-direction: row;
        }

        &__link {
            display: flex;
            height: 100%;
            padding-right: 2.33rem;
            padding-left: 1rem;
            padding-bottom: 1.7rem;
            padding-top: 1.7rem;
            // padding: 2.1rem 1.3rem 2.1rem 1rem;
            // padding: 2.1rem 2.3rem 2.1rem 1rem;
            // padding: 2.1rem 2.7rem 2.1rem 1rem;
            font-family: 'SourceSansPro-Regular';
            font-size: 1.53rem;
            font-weight: 400;
            // letter-spacing: -0.05rem;
            color: #fff;
            text-decoration: none;
            border-right: 0.11rem solid rgba(255, 255, 255, 0.2);

            &-data {
                margin-left: 0.55rem;
            }

            &-icon {
                fill: rgba(255, 255, 255, 0.2);
            }

        }

        &__linkAdapt{
            display: none;
        }
        
        &__alert {
            position: relative;
            cursor: pointer;

            // &:hover{
            //     background: #353535;
            // }

            &::before{
                content: "";
                position: absolute;
                width: 0.66rem;
                height: 0.66rem;
                border-radius: 0.33rem;
                background: #ff0707;
                left: 3.6rem;
            }

            .notifications__svg{
                fill: #fff;
            }
            padding: 1.35rem 2rem;
            // padding: 1.8rem 2.11rem;
            border-right: 0.11rem solid rgba(255, 255, 255, 0.2);
            transition: all 0.3s ease;

            &:hover .notifications__svg{
                fill: #fc8701;
                transition: all 0.3s ease;
            }
        }

        &__settings {

            .notifications__svg{
                fill: #fff;
            }

            padding: 1.35rem 2rem;
            // padding: 1.8rem 2.11rem;
            border-right: 0.11rem solid rgba(255, 255, 255, 0.2);
            transition: all 0.3s ease;

            &:hover .notifications__svg{
                fill: #fc8701;
                transition: all 0.3s ease;
            }
        }

        &-user-block {
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 1.55rem;
            // padding: 0rem 1.77rem 0rem 1.55rem;
            color: #fff;

            &__logo {
                padding-right: 0.77rem;
            }

            &-inner-wrap {
                display: flex;
                flex-direction: column;
            }

            &__shield {
                padding-left: 1.33rem;
                padding-right: 1.77rem;
                // padding: 0rem 0rem 0rem 0.77rem;
            }
        }

        &__money {
            display: flex;
            align-items: center;
            // padding: 2.33rem 2.11rem;
            padding: 2rem 2rem 1.66rem 1.88rem;
            background-color: #a1ce31;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #ff7c07;
                transition: all 0.3s ease;
            }
        }

        &__money-text{
            font-family: 'SourceSansPro-Regular';
            font-size: 1.55rem;
            color: #fff;

        }

        &__logout {
            // padding-left: 2.5rem;
            padding-left: 1rem;
            // padding: 1.66rem 0.77rem;
            transition: all 0.3s ease;

            &:hover .notifications__svg{
                fill: #fff;
                // fill: #fc8701;
                transition: all 0.3s ease;
            }

        }
    }
}

// .notifications-menu-user-block__logo-text{
//     font-size: 1.4rem;
//     // font-family: 'Bernard MT Condensed';
//     font-family: 'SourceSansPro-Regular';
//     font-weight: bold;
//     color: #fff;
//     width: 1.88rem;
//     height: 1.88rem;
//     background: #fc8701;
//     border-radius: 1rem;
//     text-align: center;
// }


.user__id-text{
    font-size: 1.55rem;
    font-family: 'SourceSansPro-Regular';
    font-weight: 400;

}

.user__stars{

    &-ul{
        display: flex;
        flex-direction: row;
    }

}


.notifications__svg{
    transform: translateY(10%);
    height: 1.88rem;
    width: 1.88rem;
    fill: #545454;
    transition: all 0.3s ease;

}

.notifications-menu-list-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.66rem;
}

.notifications-menu-list-li{
    transition: all 0.3s ease;

    &:hover .notifications__svg{
        fill: #fff;
        // fill: #fc8701;
        transition: all 0.3s ease;
    }
}

.notifications__sheild-mod{
    position: relative;

    .notifications__svg{
        fill: #a1ce31;
    }

    &::before{
        content: "";
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        background: #fff;
        left: 0.6rem;
        top: 0.4rem;
    }

}

.user__svgStars-mod{
    height: 1.11rem;
    margin-top: 0.66rem;
    margin-right: 0.33rem;
}

.user__svgStars{

    &-1, &-2, &-3, &-4{
        fill: #a1ce31;
    }

    &-5{
        fill: #545454;
    }

}

@import './notifAddInput/notifAdd.scss';
@import './notifSearchList/notifSearchList.scss';
@import './notifAlertMore/notifAlertMore.scss';

@import './notifAdapt.scss';