section.notifications
    .container-fluid
        .container
            .notifications-menu-wrap
                button.notifications-menu__btn +Добавить#[br] объявление
                ul.notifications-menu-list
                    li  
                        a(href="#").notifications-menu__link Мои объявления 
                            span.notifications-menu__link-data (3)
                        a(href="#").notifications-menu__link Мои запросы
                            span.notifications-menu__link-data (3)
                        a(href="#").notifications-menu__link Мои сообщения
                            span.notifications-menu__link-data (3)
                        a(href="#").notifications-menu__link Поиск участников
                .notifications-menu__alert И
                .notifications-menu__settings И
                .notifications-menu-user-block
                    .notifications-menu-user-block__logo И
                    .notifications-menu-user-block-inner-wrap
                        .user__id ID: 123456789
                        .user__stars *****
                    .notifications-menu-user-block__shield И
                .notifications-menu__money 26 000 руб.
                .notifications-menu__logout И
