section.center
    .center__wrap
        .checkin
            .checkin__wrap
                p.checkin__title-text|Впервые у нас?
                p.checkin__subtitle-text|Зарегистрируйтесь и сможете размещать свои грузы и машины, общаться на форуме 
                    br
                    |и многое другое
                .checkin__btn-wrap
                    button.checkin__btn|регистрация
        .farmer
            .farmer__wrap
        include ../regform/regformWrapStatic.pug