section.centerLoginPage
    .centerLoginPage__wrap
        .checkinLoginPage
            .checkinLoginPage__wrap
                p.checkinLoginPage__title-text|Впервые у нас?
                p.checkinLoginPage__subtitle-text|Зарегистрируйтесь и сможете размещать свои грузы и машины, общаться на форуме 
                    br
                    |и многое другое
                .checkinLoginPage__btn-wrap
                    button.checkinLoginPage__btn|регистрация
        .farmerLoginPage
            .farmerLoginPage__wrap
        include ../regform/regformWrapStatic.pug