@import './titleRegform.scss';


.loginPage__wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('../img/Группа\ 7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.centerLoginPage{
    display: flex;
    justify-content: center;
    display: flex;
    width: 100%;

    &__wrap{
        width: 107.77rem;
        display: flex;
        flex-direction: row;
        padding-top: 7.77rem;
    }

}

.checkinLoginPage{

    &__wrap{
        width: 32.66rem;
        background: #575455;
        border-radius: 1rem;
        padding-left: 3.77rem;
        padding-top: 3.11rem;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            display: flex;
            left: 26rem;
            border: 1.6rem solid transparent;
            border-top: 1.6rem solid #575455;
            border-right: 1.6rem solid #575455;
        }

    }

}

.farmerLoginPage{

    &__wrap{
        width: 31.33rem;
        height: 51.77rem;
        background: url('../img/Слой\ 575.png');
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        margin-top: 9.33rem;
    }

}