.regForm__title-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.regForm__title-text{
    font-size: 2.66rem;
    font-family: 'SourceSansPro-Regular';
    // font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #000;
    text-align: left;
    padding-bottom: 2.22rem;
}

.regForm__title-link{
    display: none;
}

@import './titleRegFormAdapt.scss';