
@media screen and (max-width: 600px) {
        
    .regForm__title-link{
        display: flex;
        font-size: 2.07rem;
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: underline;
        color: #317fce;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover{
            text-decoration: none;
            transition: all 0.3s ease;
        }
    }

}