@media screen and (max-width: 980px)    {

    .header{
        // position: fixed;
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        z-index: 5;

        &__logo{
            width: 23.5rem;
            margin-right: 0;
        }

        &__wrap{
            width: 100%;
            justify-content: center;
            padding-left: 0rem;
            padding-right: 0rem;
        }
        &__nav{
            display: none;
        }

        &__navActive{
            display: flex;
            justify-content: flex-start;
            position: fixed;
            left: 0rem;
            top: 10.55rem;
            width: 100%;
            height: 100vh;
            // height: 100%;
            z-index: 3;

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: #575556;
                opacity: 0.5;

            }

        }

        &__nav-ul{
            flex-direction: column;
            width: 50%;
            justify-content: flex-start;
            background: #575556;
            z-index: 4;
            margin: 0;
            padding-top: 5rem;
            padding-left: 3.11rem;
            padding-right: 3.11rem;
        }
        &__nav-li{
            display: flex;
            flex-direction: column;
            position: static;
            border-bottom: 0.11rem solid #686667;

            &:hover .header__nav-fonts{
                color: #a1ce31;
            }
            
            &:hover .header__svgArrow{
                fill: #a1ce31;
                transform: rotate(270deg);
            }

            &:last-child{
                border-bottom: none;
            }

            &:hover{
                background: none;
                border-radius: none;
            }

            &:hover .header__nav-submenu-ul{
                display: flex;
                flex-direction: column;
                position: static;
                background: none;
                padding-top: 0rem;
                width: 100%;
            }
        }

        &__nav-link{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__nav-submenu-li{
            border: none;
            width: 100%;
        }

        &__svgArrow-wrap{
            margin: 0;
        }

        &__svgArrow{
            fill: #fff;
            width: 1.33rem;
        }

    }

}

@media screen and (max-width: 640px) {

    .header{

        &__logo{
            width: 23rem;
            margin-right: 0rem;
        }

    }

}

@media screen and (max-width: 550px) {

    .header{

        &__nav-ul{
            width: 100%;
        }

    }

}


@media screen and (max-width: 375px) {

    .header{

        &__logo{
            width: 22.5rem;
            margin-right: 0rem;
        }

        
        &__svgLogo{
            width: 5.9rem;
            height: 4.8rem;
        }

    }

}