header.header
    .header__wrap
        .header__logo
            a.header__logo-link(href='index.html')
        nav.header__nav
            ul.header__nav-ul
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Новости
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Объявления
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Реестр компаний
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Курсы Online
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Трудоустройство
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
                li.header__nav-li
                    a.header__nav-link.header__nav-fonts(href="#")|Проекты
                        <i class="fas fa-chevron-down mineStyleArrowDownIconNav"></i>
                    ul.header__nav-submenu-ul
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу работу
                        li.header__nav-submenu-li
                            a.header__nav-submenu-link.header__nav-submenu-fonts(href="#")|Ищу сатрудников
        .header__registrationMenu-wrap
            .header__registrationMenu
                <i class="fas fa-user mineStyleUserIcon"></i>
                <i class="fas fa-chevron-down mineStyleArrowDownIconRegistration"></i>