.screenOne{
    
    &__categories-wrap{
        display: flex;
        flex-direction: column;
        width: 136.67rem;
        background: #fff;
        margin-top: 3.33rem;
        padding-top: 4.44rem;
        padding-bottom: 3.61rem;
        box-shadow: 0rem 0rem 4rem -2rem #f1eded;
    }

    &__categories-ul{
        width: 100%;
        // width: 136.67rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2.78rem;
    }

    &__categories-li{
        width: 16.66%;
        // width: 22.78rem;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;

        &:hover .screenOne__categories-title-text{
            color: #ff7c07;
            transition: all 0.3s ease;
        }

        &:hover .screenOne__svg{
            fill: #ff7c07;
            transition: all 0.3s ease;
        }

    }

    &__categories-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}


// CATEGORIES__SVG__ICON__STYLE

.screenOne__categories-icon{
    width: 7rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
}

.screenOne__svg{
    fill: #575455;
}

.screenOne{

    &__svgSearch-wrap, &__svgPlaceholder-wrap, &__svgInputArrow-wrap{
        position: absolute;
        fill: #575455;
    }

    &__svgSearch-wrap{
        width: 1.55rem;
        top: 1.9rem;
        right: 52rem;
        // right: 96%;
    }

    &__svgPlaceholder-wrap{
        width: 1.55rem;
        top: 1.9rem;
        right: 21.5rem;
    }

    &__svgInputArrow-wrap{
        top: 2.2rem;
        right: 3.5rem;
        transform: rotate(90deg);
        width: 0.88rem;
    }

}



// !!!!!!!!! //
// TO__ADAPT //
// ########  //

@import './screenOneCategoriesAdapt.scss';