
@media screen and (max-width: 980px)    {

    .screenOne{
        
        &__categories{
            width: 100%;
        }

        &__categories-wrap{
            width: 100%;
        }

        &__categories-ul{
            justify-content: space-around;
        }

        // &__categories-li{
        //     width: 25%;
        // }

        // CATEGORIES__SVG__ICON__STYLE

        &__svgSearch-wrap{
            right: 96%;
        }

        &__svgPlaceholder-wrap{
            // right: 28.5%;
            right: 29.5%;
        }

    }

    .forAdapt{
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .screenOne{

        &__svgSearch-wrap{
            right: 92%;
        }

        &__svgPlaceholder-wrap{
            right: 92%;
            top: 8rem;
        }

        &__svgInputArrow-wrap{
            top: 8rem;
        }

    }

}