section.screenThree
    .screenThree__wrap
        .screenThree__head
            .screenThree__head-wrap
                p.screenThree__head-text|БЕСПЛАТНО ПОДОБРАТЬ ЗАПРОСЫ ПО ВАШЕЙ ТЕМЕ
        form.screenThree__form(action="#", method="post")
            .screenThree__form-wrap
                .screenThree__form-selectionAndSending
                    .screenThree__form-keyword
                        p.screenThree__form-keyword-title.screenThree__title-fonts|Ключевое слово*
                        input.screenThree__form-inputKeyword(type="text" id="keyword" name="keyword" placeholder="например: говядина")
                    .screenThree__form-industry
                        p.screenThree__form-industry-title.screenThree__title-fonts|Отрасль
                        input.screenThree__form-inputIndustry.styleLabel(type="text" id="industry" name="industry" placeholder="Все отрасли")
                        use.screenThree__svgIndustryArrow-wrap
                            <svg class="screenThree__svgIndustryArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>

                        //- label(for="industry")
                    .screenThree__form-region
                        p.screenThree__form-region-title.screenThree__title-fonts|Регион
                        input.screenThree__form-inputRegion.styleLabel(type="text" id="region" name="region" placeholder="Все регионы")
                        use.screenThree__svgRegionArrow-wrap
                            <svg class="screenThree__svgRegionArrow" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 451.846 451.847" style="enable-background:new 0 0 451.846 451.847;" xml:space="preserve">
                                <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"/>
                            </svg>

                        //- label(for="region")
                    .screenThree__form-price
                        p.screenThree__form-price-title.screenThree__title-fonts|Цена
                        .screenThree__form-inputPrice-wrap
                            .screenThree__form-inputMinPrice-wrap
                                input.screenThree__form-inputMinPrice.styleLabel(type="number" id="minPrice" name="minPrice" placeholder="От")
                                label(for="minPrice")
                                p.screenThree__currencySymbol|&#8381;
                        
                            .screenThree__form-inputMaxPrice-wrap
                                input.screenThree__form-inputMaxPrice.styleLabel(type="number" id="maxPrice" name="maxPrice" placeholder="До")
                                label(for="maxPrice")
                                p.screenThree__currencySymbol|&#8381;
                        //- .screenThree__form-selectionAndSending
                    .screenThree__form-email
                        p.screenThree__form-price-title.screenThree__title-fonts|Ваш e-mail
                        input.screenThree__form-inputEmail.styleLabel(type="text" id="email" name="email")
                    .screenThree__form-btn-wrap
                        button.screenThree__form-btn(type="submit")|ПОДОБРАТЬ
                    p.screenThree__form-agreement-text|Нажимая на кнопку Подобрать, вы даете согласие на обработку своих персональных данных и соглашаетесь с пользовательским соглашением. ** постарайтесь указать наиболее общее слово (корень слова). Например для "мясо говядины" лучше выбрать "говядина"