section.screenThree
    .screenThree__wrap
        .screenThree__head
            .screenThree__head-wrap
                p.screenThree__head-text|БЕСПЛАТНО ПОДОБРАТЬ ЗАПРОСЫ ПО ВАШЕЙ ТЕМЕ
        .screenThree__content
            .screenThree__content-wrap