.screenThree{
    display: flex;
    justify-content: center;
    padding-top: 5.55rem;

    &__wrap{
        width: 130rem;
        // width: 133.33rem;
        // width: 60.94%;
    }

    &__head{
        width: 100%;
        display: flex;
        // overflow: hidden;
    }

    &__head-wrap{
        width: 100%;
        height: 7.77rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #292929;
        padding-left: 3.33rem;
        padding-right: 3.33rem;
    }

    &__form-wrap{
        border: 0.15rem solid #f0efef;
        padding-bottom: 5rem;
    }

    &__form-selectionAndSending{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 3.33rem;
        padding-right: 3.33rem;
        // justify-content: center;
        align-items: flex-end;
        padding-top: 4.44rem;
    }

    &__form-bottom{
        display: flex;
        justify-content: flex-start;
    }

    &__form-region, &__form-industry{
        position: relative;
    }

    &__form-inputPrice-wrap{
        display: flex;
        flex-direction: row;
    }

    &__form-inputMinPrice-wrap, &__form-inputMaxPrice-wrap{
        position: relative;
    }

    &__form-email{
        padding-top: 3.55rem;
    }

    &__currencySymbol{
        position: absolute;
        color: #999999;
        right: 10%;
        top: 2rem;
    }

}

.screenThree{

    &__svgIndustryArrow-wrap, &__svgRegionArrow-wrap{
        position: absolute;
        top: 5.4rem;
        right: 3rem;
        transform: rotate(90deg);
        width: 0.88rem;
        fill: #575455;
    }
}


@import './screenThreeAdapt.scss';
